.row {
  display: flex;
  flex-flow: row wrap;
  row-gap: 16px;
  column-gap: 8px;
}
.col {
  display: block;
  flex: 0 0 24%;
  max-width: 24%;
}

@media screen and (max-width: 620px) {
  .col {
    display: block;
    flex: 0 0 49%;
    max-width: 49%;
  }
}
@media screen and (max-width: 420px) {
  .col {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
